@import "../../colors";

.class_room_column {
    width: 100%;
    height: 100vh;
    border-left: 1px solid #000000;
    .name {
        border-bottom: 1px solid $border;
        height: 30px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .lesson_card {
        width: 100%;
    }
}


